<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2>Reset Password</h2>

            {{!-- {{#if alert}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{alert}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}} --}}

            <p> User Role {{user.user_role}}</p>

            <form method="post" action="/auth/reset-password">
                <div class="mb-3">
                    <label for="email">Email address</label>
                    <input {{#isEqual user.user_role "Admin"}}{{else}}readonly{{/isEqual}} type="email" class="form-control" id="email_id" name="email_id" value="{{data.email_id}}"
                        required>
                </div>

                {{!-- <div class="mb-3">
                    <label for="password" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="password" name="password" value="{{data.password}}"
                        required placeholder="Enter your new password" aria-describedby="passwordHelp"
                        pattern="^(?=.*[a-z]+)(?=.*[A-Z]+)(?=.*\d)(?=.*[@#$%^&+=]).{6,20}$">
                    <div id="passwordeHelp" class="form-text">Password between 6 to 20 characters which contain numbers,
                        uppercase/lowercase letters and at least one special character.</div>
                </div> --}}

                <div class="mb-3">
                    <label for="password" class="form-label">New Password</label>
                    <div class="input-group">
                        <input required type="password" class="form-control" name="password" id="password"
                            value="" placeholder="Enter your password"
                            pattern="^(?=.*[a-z]+)(?=.*[A-Z]+)(?=.*\d)(?=.*[@#$%^&+=]).{6,20}$"
                            aria-describedby="passwordHelp" onpaste="return false;">
                            {{!-- {{data.password}} --}}
                        <button class="btn btn-outline-secondary" type="button" id="password-toggle">
                            <i class="bi bi-eye"></i></button>
                    </div>
                    <div id="passwordeHelp" class="form-text">Password between 6 to 20 characters which contain numbers,
                        uppercase/lowercase letters and at least one special character.</div>
                    <div class="form-text" style="color: red;" id="password-paste-error" hidden>
                        Pasting is not allowed in the password field.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="confirm-password" class="form-label">Confirm Password</label>
                    <div class="input-group">
                        <input required type="password" class="form-control" id="confPassword" name="confPassword"
                            value="" placeholder="Confirm your password"
                            pattern="^(?=.*[a-z]+)(?=.*[A-Z]+)(?=.*\d)(?=.*[@#$%^&+=]).{6,20}$"
                            onpaste="return false;">
                            {{!-- {{data.confPassword}} --}}
                        <button class="btn btn-outline-secondary" type="button" id="confPassword-toggle">
                            <i class="bi bi-eye"></i></button>
                    </div>
                    <div class="form-text" style="color: red;" id="confPassword-paste-error" hidden>
                        Pasting is not allowed in the password field.
                    </div>
                </div>

                </b>
                <button type="submit" class="btn btn-primary">Reset password</button>
            </form>
        </div>
    </div>
</div>



<script>
    const passwordToggle = document.getElementById('password-toggle');
    const passwordField = document.getElementById('password');
    passwordToggle.addEventListener('click', function () {
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            passwordToggle.innerHTML = '<i class="bi bi-eye-slash"></i>';
        } else {
            passwordField.type = 'password';
            passwordToggle.innerHTML = '<i class="bi bi-eye"></i>';
        }
    });

    const confPasswordToggle = document.getElementById('confPassword-toggle');
    const confPasswordField = document.getElementById('confPassword');
    confPasswordToggle.addEventListener('click', function () {
        if (confPasswordField.type === 'password') {
            confPasswordField.type = 'text';
            confPasswordToggle.innerHTML = '<i class="bi bi-eye-slash"></i>';
        } else {
            confPasswordField.type = 'password';
            confPasswordToggle.innerHTML = '<i class="bi bi-eye"></i>';
        }
    });

</script>

<script>
    // Get the password input fields and paste error message elements
    const passwordInput = document.getElementById('password');
    const confPasswordInput = document.getElementById('confPassword');
    const passwordPasteError = document.getElementById('password-paste-error');
    const confPasswordPasteError = document.getElementById('confPassword-paste-error');

    // Listen for paste events and prevent pasting in the password fields
    passwordInput.addEventListener('paste', function (e) {
        e.preventDefault();
        passwordPasteError.hidden = false;
    });

    confPasswordInput.addEventListener('paste', function (e) {
        e.preventDefault();
        confPasswordPasteError.hidden = false;
    });

</script>