<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 border p-4">
            <h4 class="mb-3">Employee Master</h4>

            <form id="cityForm" action="/emp/create" method="post">
                <div class="row mb-3">
                    <label for="first_name" class="col-sm-2 col-form-label">First Name<span style="color: red;">*</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="first_name" name="first_name"
                            value="{{data.first_name}}" placeholder="Enter First Name" minlength="1" maxlength="50"
                            aria-describedby="first_nameHelp">
                        <div id="first_nameHelp" class="form-text">First Name cannot exceed 50 characters.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="middle_name" class="col-sm-2 col-form-label">Middle Name<span
                            style="color: red;">*</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="middle_name" name="middle_name"
                            value="{{data.middle_name}}" placeholder="Enter Middle Name" minlength="1" maxlength="50"
                            aria-describedby="middle_nameHelp">
                        <div id="middle_nameHelp" class="form-text">Middle Name cannot exceed 50 characters.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="last_name" class="col-sm-2 col-form-label">Last Name<span style="color: red;">*</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="last_name" name="last_name"
                            value="{{data.last_name}}" placeholder="Enter Middle Name" minlength="1" maxlength="50"
                            aria-describedby="last_nameHelp">
                        <div id="last_nameHelp" class="form-text">Last Name cannot exceed 50 characters.</div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="desg_id" class="col-sm-2 col-form-label">Designation<span
                            style="color: red;">*</span></label>
                    <div class="col-sm-10">
                        <select class="form-select" id="desg_id" name="desg_id" aria-label=".form-select-sm example">
                            {{#each desg_list}}
                            <option value="{{this.desg_id}}" {{#isEqual ../data.desg_id desg_id}}selected{{/isEqual}}>
                                {{this.desg_name}}
                            </option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="hq_id" class="col-sm-2 col-form-label">HQ<span style="color: red;">*</span>
                    </label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input hidden type="text" class="form-control" id="hq_id" name="hq_id"
                                value="{{data.hq_id}}">
                            <input readonly type="text" class="form-control" id="hq_name" name="hq_name"
                                value="{{data.hq_name}}" placeholder="Mapping with HQ" minlength="1" maxlength="50">
                            <button class="btn btn-outline-info" type="button" id="btnHqs" data-bs-toggle="modal"
                                data-bs-target="#hqsModal">
                                <i class="bi bi-list"></i></button>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="boss_id" class="col-sm-2 col-form-label">Manager<span style="color: red;">*</span>
                    </label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input hidden type="text" class="form-control" id="boss_id" name="boss_id"
                                value="{{data.boss_id}}">
                            <input readonly type="text" class="form-control" id="boss_name" name="boss_name"
                                value="{{data.boss_name}}" placeholder="Mapping with Manager" minlength="1"
                                maxlength="50">
                            <button class="btn btn-outline-info" type="button" id="btnBoss" data-bs-toggle="modal"
                                data-bs-target="#bossModal">
                                <i class="bi bi-list"></i></button>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="bu_id" class="col-sm-2 col-form-label">Business Unit<span
                            style="color: red;">*</span></label>
                    <div class="col-sm-10">
                        <select class="form-select" id="bu_id" name="bu_id" aria-label=".form-select-sm example">
                            {{#each bu_list}}
                            <option value="{{this.bu_id}}" {{#isEqual ../data.bu_id bu_id}}selected{{/isEqual}}>
                                {{this.bu_name}}
                            </option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="off_day" class="col-sm-2 col-form-label">Off Day</label>
                    <div class="col-sm-10">
                        <select class="form-select" id="off_day" name="off_day" aria-label=".form-select-sm example">
                            <option value="Sun" {{#isEqual data.off_day off_day}}selected{{/isEqual}}>Sunday</option>
                            <option value="Mon" {{#isEqual data.off_day off_day}}selected{{/isEqual}}>Monday</option>
                            <option value="Tue" {{#isEqual data.off_day off_day}}selected{{/isEqual}}>Tuesday</option>
                            <option value="Wed" {{#isEqual data.off_day off_day}}selected{{/isEqual}}>Wednesday</option>
                            <option value="Thu" {{#isEqual data.off_day off_day}}selected{{/isEqual}}>Thursday</option>
                            <option value="Fri" {{#isEqual data.off_day off_day}}selected{{/isEqual}}>Friday</option>
                            <option value="Sat" {{#isEqual data.off_day off_day}}selected{{/isEqual}}>Saturday</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="status" class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-10">
                        <select class="form-select" id="status" name="status" aria-label=".form-select-sm example">
                            <option value="A" {{#isEqual data.status status}}selected{{/isEqual}}>Active</option>
                            <option value="I" {{#isEqual data.status status}}selected{{/isEqual}}>Not-Active</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="user_id" class="col-sm-2 col-form-label">Map with Profile<span
                            style="color: red;">*</span>
                    </label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input hidden type="text" class="form-control" id="user_id" name="user_id"
                                value="{{data.user_id}}">
                            <input readonly type="text" class="form-control" id="username" name="username"
                                value="{{data.username}}" placeholder="Mapping username" minlength="1" maxlength="50">
                            <button class="btn btn-outline-info" type="button" id="btnUser" data-bs-toggle="modal"
                                data-bs-target="#usersModal">
                                <i class="bi bi-list"></i></button>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="vc_comp_code" class="col-sm-2 col-form-label">HR Comp Code<span
                            style="color: red;">*</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="vc_comp_code" name="vc_comp_code"
                            value="{{data.vc_comp_code}}" placeholder="HR Company Code">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="vc_emp_code" class="col-sm-2 col-form-label">HR Emp Code<span
                            style="color: red;">*</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="vc_emp_code" name="vc_emp_code"
                            value="{{data.vc_emp_code}}" placeholder="HR Company Code">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="ext_code" class="col-sm-2 col-form-label">Employe SAP Code</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ext_code" name="ext_code" value="{{data.ext_code}}"
                            placeholder="Employee External Code">
                    </div>
                </div>

                <div class="col-md-3 d-flex justify-content-between">
                    <button {{#isEqual user.user_role "Read" }} disabled {{/isEqual}} type="submit"
                        class="btn btn-primary mx-1">Submit</button>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-secondary mx-1"
                            onclick="window.location.href='/emp/view'">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


{{> _lov-hqs}}
{{> _lov-emp_boss}}
{{> _lov-users}}