<div style="padding-right: 5px; padding-left: 5px;">
    <div class="row justify-content-center">
        <form id="dsrTpForm" action="/dsrTp/update/{{monData.year}}/{{monData.month}}/{{empData.emp_id}}" method="post">

            <div class="row justify-content-center">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 id="card-h1" class="card-title">Name: {{empData.emp_name}}
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm">
                                    <h1 id="card-h2" class="card-title">Month : {{monData.month_name}}-{{monData.year}}
                                        {{#if [tpData]}}
                                        <button type="button" class="btn btn-outline-success btn-sm mx-5"
                                            onclick="window.location.href='/dsrTp/get-tp/{{monData.year}}/{{monData.month}}/{{empData.emp_id}}'">Copy
                                            Last Month's TP</button>
                                        {{else}}
                                        <button type="button" class="btn btn-outline-success btn-sm mx-5"
                                            onclick="window.location.href='/dsrTp/update/{{monData.year}}/{{monData.month}}/{{empData.emp_id}}'">Refresh</button>
                                        {{/if}}
                                    </h1>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <h1 id="card-h3" class="card-title">Desg : {{empData.desg_name}}</h1>
                                </div>
                                <div class="col-md-6">
                                    <h1 id="card-h2" class="card-title d-flex justify-content-end ">HQ :
                                        {{empData.hq_name}}</h1>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                {{!-- <label for="drsTpTable" class="form-label"><strong>Tour Details</strong></label> --}}
                <div style="max-height: 1140px; overflow-y: scroll;">
                    <table class="table" id="drsTpTable">
                        <thead class="sticky-header">
                            <tr>
                                <th hidden>Date</th>
                                <th class="col-3">Day</th>
                                <th class="col-4">From City</th>
                                <th class="col-5">To City</th>
                            </tr>
                        </thead>
                        <tbody id="orderItemsBody">
                            {{#each [tpData]}}
                            <tr>
                                <td hidden>
                                    <input type="text" class="form-control" id="dsr_date_{{momentYMD this.dsr_date}}"
                                        name="dsr_date[]" value="{{momentYMD this.dsr_date}}">
                                </td>
                                <td>
                                    <input readonly type="text" class="form-control text-start"
                                        id="tp_date_{{momentYMD this.dsr_date}}" name="tp_date[]"
                                        value="{{this.tp_date}} {{this.tp_day}}" {{#isEqual this.off_day this.tp_day}}
                                        style="color: red;" {{/isEqual}}>
                                </td>
                                <td>
                                    <input {{#isEqual this.post_mg 'Y' }} readonly {{/isEqual}} type="text"
                                        class="form-control" id="from_city_{{momentYMD this.dsr_date}}"
                                        name="from_city[]" value="{{this.from_city}}">
                                </td>
                                <td>
                                    <input {{#isEqual this.post_mg 'Y' }} readonly {{/isEqual}} type="text"
                                        class="form-control" id="to_city_{{momentYMD this.dsr_date}}" name="to_city[]"
                                        value="{{this.to_city}}">
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-sm">
                    {{#if [tpData]}}
                    <button type="submit" id="submitBtn" class="btn btn-primary mx-1">Submit</button>
                    {{/if}}
                    <button type="button" class="btn btn-secondary mx-5"
                        onclick="window.location.href='/dsrTp/view-pm'">Cancel</button>
                </div>
            </div>

        </form>
    </div>
</div>

{{!--
<script>
    $(document).ready(function () {
        $('#drsTpTable_xxxxxx').dataTable({
            pageLength: 10
        });
    });

    // CSS styles for DataTable customization
    document.write('<style>\
        /* Increase font size for DataTable pagination */\
        .dataTables_paginate .paginate_button {\
            font-size: 20px; /* You can adjust the font size as needed */\
        }\
        /* Increase font size for DataTable pagination information */\
        .dataTables_info {\
            font-size: 20px; /* You can adjust the font size as needed */\
        }\
        /* Increase font size for "Show [number] entries" label */\
        .dataTables_length label {\
            font-size: 20px; /* You can adjust the font size as needed */\
        }\
        /* Increase font size for DataTable search box */\
        .dataTables_filter input {\
            font-size: 20px; /* You can adjust the font size as needed */\
        }\
        /* Increase font size for DataTable search "Clear" button */\
        .dataTables_filter input[type="search"]::-webkit-search-clear-button {\
            font-size: 20px; /* You can adjust the font size as needed */\
        }\
    </style>');
</script> --}}

<style>
    .sticky-header th {
        position: sticky;
        top: 0;
        background-color: #f5f5f5;
        /* Adjust the background color as needed */
        z-index: 1;
        /* Ensure the header stays above the scrolling content */
    }
</style>

<script>
    function adjustFontSize() {
        var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

        var CardH1 = document.getElementById('card-h1');
        var CardH2 = document.getElementById('card-h2');
        var CardH3 = document.getElementById('card-h3');
        /*var CardH4 = document.getElementById('card-h4');*/
        if (screenWidth < 768) {
            CardH1.style.fontSize = '60px';
            CardH2.style.fontSize = '50px';
            CardH3.style.fontSize = '45px';
            /*CardH4.style.fontSize = '45px';*/
        } else if (screenWidth >= 768 && screenWidth < 1024) {
            CardH1.style.fontSize = '60px';
            CardH2.style.fontSize = '50px';
            CardH3.style.fontSize = '45px';
            /*CardH4.style.fontSize = '45px';*/
        } else {
            CardH1.style.fontSize = '45px';
            CardH2.style.fontSize = '35px';
            CardH3.style.fontSize = '30px';
            /*CardH4.style.fontSize = '30px';*/
        }

        var CardTitles = document.getElementsByClassName('card-title');
        for (var i = 0; i < CardTitles.length; i++) {
            var CardTitle = CardTitles[i];
            if (screenWidth < 768) {
                CardTitle.style.fontSize = '40px';
            } else if (screenWidth >= 768 && screenWidth < 1024) {
                CardTitle.style.fontSize = '40px';
            } else {
                CardTitle.style.fontSize = '30px';
            }
        }

        var CardTitles = document.getElementsByClassName('card-title mt-3');
        for (var i = 0; i < CardTitles.length; i++) {
            var CardTitle = CardTitles[i];
            if (screenWidth < 768) {
                CardTitle.style.fontSize = '45px';
            } else if (screenWidth >= 768 && screenWidth < 1024) {
                CardTitle.style.fontSize = '45px';
            } else {
                CardTitle.style.fontSize = '45px';
            }
        }

        var CardTexts = document.getElementsByClassName('card-text');
        for (var i = 0; i < CardTexts.length; i++) {
            var CardText = CardTexts[i];
            if (screenWidth < 768) {
                CardText.style.fontSize = '50px';
            } else if (screenWidth >= 768 && screenWidth < 1024) {
                CardText.style.fontSize = '40px';
            } else {
                CardText.style.fontSize = '40px';
            }
        }

        var frmLabels = document.getElementsByClassName('col-form-label');
        for (var i = 0; i < frmLabels.length; i++) {
            var frmLabel = frmLabels[i];
            if (screenWidth < 768) {
                frmLabel.style.fontSize = '50px';
            } else if (screenWidth >= 768 && screenWidth < 1024) {
                frmLabel.style.fontSize = '50px';
            } else {
                frmLabel.style.fontSize = '30px';
            }
        }

        var frmLabels = document.getElementsByClassName('form-label');
        for (var i = 0; i < frmLabels.length; i++) {
            var frmLabel = frmLabels[i];
            if (screenWidth < 768) {
                frmLabel.style.fontSize = '50px';
            } else if (screenWidth >= 768 && screenWidth < 1024) {
                frmLabel.style.fontSize = '50px';
            } else {
                frmLabel.style.fontSize = '30px';
            }
        }

        var frmControls = document.getElementsByClassName('form-control');
        for (var i = 0; i < frmControls.length; i++) {
            var frmControl = frmControls[i];
            if (screenWidth < 768) {
                frmControl.style.fontSize = '50px';
            } else if (screenWidth >= 768 && screenWidth < 1024) {
                frmControl.style.fontSize = '50px';
            } else {
                frmControl.style.fontSize = '30px';
            }
        }

        var frmControls = document.getElementsByClassName('form-select');
        for (var i = 0; i < frmControls.length; i++) {
            var frmControl = frmControls[i];
            if (screenWidth < 768) {
                frmControl.style.fontSize = '50px';
            } else if (screenWidth >= 768 && screenWidth < 1024) {
                frmControl.style.fontSize = '50px';
            } else {
                frmControl.style.fontSize = '30px';
            }
        }

        var frmBtns = document.getElementsByClassName('btn');
        for (var i = 0; i < frmBtns.length; i++) {
            var frmBtn = frmBtns[i];
            if (screenWidth < 768) {
                frmBtn.style.fontSize = '50px';
            } else if (screenWidth >= 768 && screenWidth < 1024) {
                frmBtn.style.fontSize = '50px';
            } else {
                frmBtn.style.fontSize = '30px';
            }
        }

        var txtItems = document.getElementsByClassName('table');
        for (var i = 0; i < txtItems.length; i++) {
            var txtItem = txtItems[i];
            if (screenWidth < 768) {
                txtItem.style.fontSize = '41px';
            } else if (screenWidth >= 768 && screenWidth < 1024) {
                txtItem.style.fontSize = '41px';
            } else {
                txtItem.style.fontSize = '20px';
            }
        }

        var txtItems = document.getElementsByClassName('page-title');
        for (var i = 0; i < txtItems.length; i++) {
            var txtItem = txtItems[i];
            if (screenWidth < 768) {
                txtItem.style.fontSize = '60px';
            } else if (screenWidth >= 768 && screenWidth < 1024) {
                txtItem.style.fontSize = '60px';
            } else {
                txtItem.style.fontSize = '40px';
            }
        }

    }

    window.addEventListener('DOMContentLoaded', adjustFontSize);
    window.addEventListener('resize', adjustFontSize);
</script>