<!DOCTYPE html>

<body>
    <!-- bossModal -->
    <div class="modal fade" id="bossModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select manager name from list...</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="table-responsive">
                    <table class="table" id="bossTable">
                        <thead>
                            <tr>
                                <th>Manager Name</th>
                                <th>Mg-ID</th>
                                <th>Desg</th>
                                <th>HQ</th>
                                <th>Week Off</th>
                                {{!-- <th>Boss Name</th> --}}
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each boss_list}}
                            <tr>
                                <td class="col-4">{{this.boss_name}}</td>
                                <td class="col-2">{{this.boss_id}}</td>
                                <td class="col-1">{{this.desg_name}}</td>
                                <td class="col-2">{{this.hq_name}}</td>
                                <td class="col-1">{{this.off_day}}</td>
                                {{!-- <td>{{this.boss_name}}</td> --}}
                                <td class="col-1" style="text-align: center;">
                                    <button type="button" class="btn btn-info btn-sm"
                                        onclick="handleSelectButtonEmpMg(this)">
                                        <i class="bi bi-check2-square"></i>&nbsp;Select
                                    </button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    </div>

                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div> --}}
            </div>
        </div>
    </div>

    <style>
        #bossModal .modal-dialog {
            max-width: 950px;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('#bossTable').DataTable({
                pageLength: 10
            });

            //$('#bossModal').draggable();
        });
    </script>

    <script>
        function handleSelectButtonEmpMg(button) {
            // Get the table row that contains the button
            const row = button.closest('tr');

            // Get the values of the columns in the row
            const boss_id = row.querySelector('td:nth-child(2)').textContent;
            const boss_name = row.querySelector('td:nth-child(1)').textContent;
            //const bu_id = row.querySelector('td:nth-child(6)').textContent;
            //const bu_name = row.querySelector('td:nth-child(5)').textContent;

            // Set the values of the form fields with the row values
            /*document.getElementById('customersForm').querySelector('#customers').value = customers;
            document.getElementById('customersForm').querySelector('#pin_code').value = pin_code;*/

            document.getElementById('boss_id').value = boss_id;
            document.getElementById('boss_name').value = boss_name;

            //document.getElementById('bu_id_hdn').value = bu_id;
            //document.getElementById('bu_name').value = bu_name;

            // Hide the modal
            const bossModal = document.getElementById('bossModal');
            const bossModalInstance = bootstrap.Modal.getInstance(bossModal);
            bossModalInstance.hide();
        }
    </script>


</body>

</html>