<!DOCTYPE html>

<body>
    <!-- empModal -->
    <div class="modal fade" id="empModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select employee name from list...</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <table class="table" id="empTable">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Emp-ID</th>
                                <th>Desg</th>
                                <th>HQ</th>
                                <th>Week Off</th>
                                {{!-- <th>Boss Name</th> --}}
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each emp_list}}
                            <tr> 
                                <td class="col-4">{{this.emp_name}}</td>
                                <td class="col-2">{{this.emp_id}}</td>
                                <td class="col-1">{{this.desg_name}}</td>
                                <td class="col-2">{{this.hq_name}}</td>
                                <td class="col-1">{{this.off_day}}</td>
                                {{!-- <td>{{this.boss_name}}</td> --}}
                                <td class="col-1" style="text-align: center;">
                                    <button type="button" class="btn btn-info btn-sm"
                                        onclick="handleSelectButtonEmp(this)">
                                        <i class="bi bi-check2-square"></i>&nbsp;Select
                                    </button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div> --}}
            </div>
        </div>
    </div>

    <style>
        #empModal .modal-dialog {
            max-width: 950px;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('#empTable').DataTable({
                pageLength: 10
            });
        });
    </script>

    <script>
        function handleSelectButtonEmp(button) {
            // Get the table row that contains the button
            const row = button.closest('tr');

            // Get the values of the columns in the row
            const emp_id = row.querySelector('td:nth-child(2)').textContent;
            const emp_name = row.querySelector('td:nth-child(1)').textContent;
            //const bu_id = row.querySelector('td:nth-child(6)').textContent;
            //const bu_name = row.querySelector('td:nth-child(5)').textContent;

            // Set the values of the form fields with the row values
            /*document.getElementById('customersForm').querySelector('#customers').value = customers;
            document.getElementById('customersForm').querySelector('#pin_code').value = pin_code;*/
            document.getElementById('emp_id').value = emp_id;
            document.getElementById('emp_name').value = emp_name;
            //document.getElementById('bu_id_hdn').value = bu_id;
            //document.getElementById('bu_name').value = bu_name;

            // Hide the modal
            const modal = document.getElementById('empModal');
            const modalInstance = bootstrap.Modal.getInstance(modal);
            modalInstance.hide();
        }
    </script>


</body>

</html>