{{!-- views/partials/navbar.hbs - OPTIMIZED --}}
<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <div class="navbar-image-wrapper">
                <img id="imgLogo" src="/images/Saleswift_logo.webp" alt="Malpani Group Logo"
                    class="d-inline-block align-top img-fluid">
                {{!-- <span class="navbar-brand-text ms-2 d-none d-md-inline">Malpani Group</span> --}}
            </div>
        </a>

        <button class="navbar-toggler navbar-toggler-custom" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{!-- Home Link - Show for all logged-in users --}}
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link {{#isEqual activePage '/'}}active{{/isEqual}}" href="/">
                        <i class="bi bi-house-door me-1"></i>Home
                    </a>
                </li>
                {{/if}}

                {{!-- User Area - Admin/Read/Dealer --}}
                {{#isEqual user.user_role "Admin" "Read"}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-people me-1"></i>User Area
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="/auth/register">
                                <i class="bi bi-person-plus me-2"></i>Register
                            </a></li>
                        <li><a class="dropdown-item" href="/auth/reset-password">
                                <i class="bi bi-key me-2"></i>Reset Password
                            </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">
                                <i class="bi bi-person-lines-fill me-2"></i>Users Master
                            </a></li>
                        <li><a class="dropdown-item" href="/emp/view">
                                <i class="bi bi-person-badge me-2"></i>Employees
                            </a></li>
                    </ul>
                </li>
                {{/isEqual}}

                {{!-- Masters - Admin/Read/Support --}}
                {{#isEqual user.user_role "Admin" "Read" "Support"}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-grid-3x3-gap me-1"></i>Masters
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <li><a class="dropdown-item" href="/product/view">
                                <i class="bi bi-box-seam me-2"></i>Products
                            </a></li>
                        <li><a class="dropdown-item" href="/customer/view">
                                <i class="bi bi-shop me-2"></i>Dealers
                            </a></li>
                        <li><a class="dropdown-item" href="/cust-detail/view">
                                <i class="bi bi-shop-window me-2"></i>Sub Dealer
                            </a></li>
                        <li><a class="dropdown-item" href="/customer/benchmark">
                                <i class="bi bi-graph-up me-2"></i>Dealer Benchmark
                            </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/custTarget/view">
                                <i class="bi bi-bullseye me-2"></i>Targets
                            </a></li>
                        <li><a class="dropdown-item" href="/custTarget/upload">
                                <i class="bi bi-upload me-2"></i>Import Targets
                            </a></li>
                        <li><a class="dropdown-item" href="/custTarget/target-report">
                                <i class="bi bi-clipboard-data me-2"></i>Targets Report
                            </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/circular/view">
                                <i class="bi bi-file-text me-2"></i>Van Circular
                            </a></li>
                        {{#isEqual user.user_role "Admin"}}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/sap-data/import">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-database-add" viewBox="0 0 16 16">
                                    <path
                                        d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0" />
                                    <path
                                        d="M12.096 6.223A5 5 0 0 0 13 5.698V7c0 .289-.213.654-.753 1.007a4.5 4.5 0 0 1 1.753.25V4c0-1.007-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1s-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4v9c0 1.007.875 1.755 1.904 2.223C4.978 15.71 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.5 4.5 0 0 1-.813-.927Q8.378 15 8 15c-1.464 0-2.766-.27-3.682-.687C3.356 13.875 3 13.373 3 13v-1.302c.271.202.58.378.904.525C4.978 12.71 6.427 13 8 13h.027a4.6 4.6 0 0 1 0-1H8c-1.464 0-2.766-.27-3.682-.687C3.356 10.875 3 10.373 3 10V8.698c.271.202.58.378.904.525C4.978 9.71 6.427 10 8 10q.393 0 .774-.024a4.5 4.5 0 0 1 1.102-1.132C9.298 8.944 8.666 9 8 9c-1.464 0-2.766-.27-3.682-.687C3.356 7.875 3 7.373 3 7V5.698c.271.202.58.378.904.525C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777M3 4c0-.374.356-.875 1.318-1.313C5.234 2.271 6.536 2 8 2s2.766.27 3.682.687C12.644 3.125 13 3.627 13 4c0 .374-.356.875-1.318 1.313C10.766 5.729 9.464 6 8 6s-2.766-.27-3.682-.687C3.356 4.875 3 4.373 3 4" />
                                </svg>
                                <i class="bi bi-database-add me-2"></i>Import SAP Data
                            </a></li>
                        <li><a class="dropdown-item" href="/sap-group/view-group">
                                <i class="bi bi-collection me-2"></i>SAP Groups
                            </a></li>
                        <li><a class="dropdown-item" href="/customer/grouping">
                                <i class="bi bi-diagram-3 me-2"></i>Customers Groups
                            </a></li>
                        {{/isEqual}}
                    </ul>
                </li>
                {{/isEqual}}

                {{!-- Dealer Area - Admin/Read/Dealer --}}
                {{#isEqual user.user_role "Admin" "Read" "Dealer"}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-building me-1"></i>Dealer Area
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <li><a class="dropdown-item" href="/po/view">
                                <i class="bi bi-cart-check me-2"></i>Purchase Order
                            </a></li>
                        <li><a class="dropdown-item" href="/dealerPay/view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                    <path
                                        d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z" />
                                </svg>
                                <i class="bi bi-currency-rupee me-2"></i>Dealer Payment
                            </a></li>
                        <li><a class="dropdown-item" href="/dealerPay/view-bal">
                                <i class="bi bi-wallet2 me-2"></i>Dealer Balance
                            </a></li>
                        {{!-- <li>
                            <a class="dropdown-item" href="/custTarget/view-stock">
                                <i class="bi bi-box-seam me-2"></i>Dealer Stock
                            </a>
                        </li> --}}
                        <li>
                            <a class="dropdown-item" {{#isStockDate}} href="/custTarget/view-stock" {{else}} href="#"
                                style="pointer-events:none;opacity:0.6;" {{/isStockDate}}>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-boxes" viewBox="0 0 16 16">
                                    <path
                                        d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z" />
                                </svg>
                                <i class="bi bi-boxes me-2"></i>Dealer Stock
                            </a>
                        </li>
                        <li><a class="dropdown-item" href="/custTarget/view-sale">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5" />
                                </svg>
                                <i class="bi bi-graph-up-arrow me-2"></i>Dealer Sale
                            </a></li>
                    </ul>
                </li>
                {{/isEqual}}

                {{!-- Sales Zone - Admin/Read/Employee/Account --}}
                {{#isEqual user.user_role "Admin" "Read" "Employee" "Account"}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSales" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-map me-1"></i>Sales Zone
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownSales">
                        {{#isEqual user.user_role "Admin" "Read" "Employee"}}
                        {{#isEqual user.mobile_no "9371734463" "9881461577" "9922189100"}}
                        <li>
                            <a class="dropdown-item text-muted" href="#">
                                <i class="bi bi-lock me-2"></i>Open Month Plan
                            </a>
                        </li>
                        {{else}}
                        <li>
                            <a class="dropdown-item" href="/dsrTp/view-pm">
                                <i class="bi bi-calendar-check me-2"></i>Open Month Plan
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {{/isEqual}}
                        <li><a class="dropdown-item" href="/dsr/view-pm">
                                <i class="bi bi-pencil-square me-2"></i>Work Entry
                            </a></li>
                        <li><a class="dropdown-item" href="/dsr/post-pm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-send-check" viewBox="0 0 16 16">
                                    <path
                                        d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372zm-2.54 1.183L5.93 9.363 1.591 6.602z" />
                                    <path
                                        d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686" />
                                </svg>
                                <i class="bi bi-send-check me-2"></i>Posting
                            </a></li>
                        <li><a class="dropdown-item" href="/dsr/report">
                                <i class="bi bi-file-bar-graph me-2"></i>Work Report
                            </a></li>
                        <li><a class="dropdown-item" href="/dsr/report-loc">
                                <i class="bi bi-geo-alt me-2"></i>Locate Team
                            </a></li>
                        <li><a class="dropdown-item" href="/dsr/report-loc2">
                                <i class="bi bi-map me-2"></i>Route Map
                            </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {{!-- <li>
                            <a class="dropdown-item" href="/custTarget/view-stock">
                                <i class="bi bi-box-seam me-2"></i>Dealer Stock
                            </a>
                        </li> --}}
                        <li>
                            <a class="dropdown-item" {{#isStockDate}} href="/custTarget/view-stock" {{else}} href="#"
                                style="pointer-events:none;opacity:0.6;" {{/isStockDate}}>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-boxes" viewBox="0 0 16 16">
                                    <path
                                        d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z" />
                                </svg>
                                <i class="bi bi-boxes me-2"></i>Dealer Stock
                            </a>
                        </li>
                        <li><a class="dropdown-item" href="/custTarget/view-sale">
                                <i class="bi bi-graph-up me-2"></i>Dealer Sale
                            </a></li>
                        <li><a class="dropdown-item" href="/vanclaim/view">
                                <i class="bi bi-receipt me-2"></i>Van Claim
                            </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/consumer/view">
                                <i class="bi bi-person me-2"></i>Consumers
                            </a></li>
                        <li><a class="dropdown-item" href="/shop/list">
                                <i class="bi bi-display me-2"></i>Pan Shop Display
                            </a></li>
                        {{/isEqual}}
                        {{#isEqual user.user_role "Admin" "Read" "Account"}}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/dsrAc/view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-cash-coin" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8m5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0" />
                                    <path
                                        d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195z" />
                                    <path
                                        d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083q.088-.517.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1z" />
                                    <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 6 6 0 0 1 3.13-1.567" />
                                </svg>
                                <i class="bi bi-cash-coin me-2"></i>Expenses Posting
                            </a></li>
                        {{/isEqual}}
                    </ul>
                </li>
                {{/isEqual}}

                {{!-- Reports - Admin/Read/Support/Audit/Account/Bank --}}
                {{#isEqual user.user_role "Admin" "Read" "Support" "Audit" "Account" "Bank"}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-bar-chart me-1"></i>Reports
                    </a>
                    <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdown4">
                        {{#isEqual user.user_role "Admin" "Read" "Support" "Audit" "Bank"}}
                        <li><a class="dropdown-item" href="/dealerPay/view">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                    <path
                                        d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z" />
                                </svg>
                                <i class="bi bi-currency-rupee me-2"></i>Dealer Payment
                            </a></li>
                        {{/isEqual}}
                        {{#isEqual user.user_role "Admin" "Read" "Support" "Audit" "Account"}}
                        <li><a class="dropdown-item" href="/dsr/report">
                                <i class="bi bi-receipt me-2"></i>Expenses
                            </a></li>
                        <li><a class="dropdown-item" href="/dsrAc/summary">
                                <i class="bi bi-pie-chart me-2"></i>Expenses Summary
                            </a></li>
                        <li><a class="dropdown-item" href="/dsr/report-atten">
                                <i class="bi bi-calendar-event me-2"></i>Attendance
                            </a></li>
                        <li><a class="dropdown-item" href="/dsr/report-loc">
                                <i class="bi bi-geo-alt me-2"></i>Locate Team
                            </a></li>
                        <li><a class="dropdown-item" href="/dsr/report-loc2">
                                <i class="bi bi-map me-2"></i>Route Map
                            </a></li>
                        <li><a class="dropdown-item" href="/dsr/report-area">
                                <i class="bi bi-bounding-box me-2"></i>Area Coverage
                            </a></li>
                        <li><a class="dropdown-item" href="/dsr/report-loc-emp">
                                <i class="bi bi-person-badge me-2"></i>Employee Location
                            </a></li>
                        <li><a class="dropdown-item" href="/customer/report">
                                <i class="bi bi-building me-2"></i>Dealer Info
                            </a></li>
                        {{/isEqual}}
                    </ul>
                </li>
                {{/isEqual}}
            </ul>

            {{!-- Profile Section --}}
            <div class="nav-item dropdown ms-0 ms-lg-2 profile-dropdown-container">
                <a class="nav-link dropdown-toggle d-flex align-items-center py-2" href="#" id="navbarDropdownProfile"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="navbar-text2 {{#if user.username}}text-warning{{else}}text-light{{/if}}">
                        {{#if user.username}}
                        <i class="bi bi-person-circle me-1"></i>Hi, {{user.username}}
                        {{else}}
                        <i class="bi bi-person me-1"></i>Hi, Guest
                        {{/if}}
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end profile-dropdown-menu"
                    aria-labelledby="navbarDropdownProfile">
                    {{#if user}}
                    <li><a class="dropdown-item d-flex align-items-center" href="/auth/reset-pwd">
                            <i class="bi bi-key me-2"></i>Reset Password
                        </a></li>
                    <li><a class="dropdown-item d-flex align-items-center" href="/auth/profile">
                            <i class="bi bi-person me-2"></i>Profile
                        </a></li>
                    <li>
                        <hr class="dropdown-divider m-0">
                    </li>
                    <li>
                        <div class="px-3 py-2">
                            <form method="POST" action="/auth/logout" class="w-100">
                                <button
                                    class="btn btn-outline-danger w-100 d-flex align-items-center justify-content-center"
                                    type="submit">
                                    <i class="bi bi-box-arrow-right me-2"></i>Logout
                                </button>
                            </form>
                        </div>
                    </li>
                    {{else}}
                    <li><a class="dropdown-item d-flex align-items-center" href="/auth/login">
                            <i class="bi bi-box-arrow-in-right me-2"></i>Login
                        </a></li>
                    <li><a class="dropdown-item d-flex align-items-center" href="/auth/register">
                            <i class="bi bi-person-plus me-2"></i>Register
                        </a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</nav>