<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 border p-4"> {{!-- border-secondary --}}
            <h4 class="mb-3">Create Dealer Payment</h4>

            <form id="dealerPayForm" action="/dealerPay/create" method="post">
                <div class="form-group row mb-3">
                    <label for="doc_date" class="col-sm-2 col-form-label">Entry Date</label>
                    <div class="col-sm-4">
                        <input readonly type="text" class="form-control" id="doc_date" name="doc_date"
                            value="{{momentDMY data.doc_date}}">
                    </div>
                    <label for="doc_no" class="col-sm-2 col-form-label">Entry No</label>
                    <div class="col-sm-4">
                        <input readonly type="doc_no" class="form-control" id="doc_no" name="doc_no"
                            value="{{data.doc_no}}">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="customer_id" class="col-sm-2 col-form-label">Dealer<span
                            style="color: red;">*</span></label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input hidden type="text" class="form-control" id="customer_id" name="customer_id"
                                value="{{data.customer_id}}">
                            <input disabled type="text" class="form-control" id="customer_name" name="customer_name"
                                value="{{data.customer_name}}" required>
                            <button class="btn btn-outline-info" type="button" id="btnCustomer" data-bs-toggle="modal"
                                data-bs-target="#customersModal">
                                <i class="bi bi-list"></i></button>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="bu_id" class="col-sm-2 col-form-label">Business Unit<span
                            style="color: red;">*</span></label>
                    <div class="col-sm-4">
                        <input hidden type="text" class="form-control" id="bu_id_hdn" name="bu_id_hdn"
                            value="{{data.bu_id}}">
                        <input disabled type="text" class="form-control" id="bu_name" name="bu_name"
                            value="{{data.bu_name}}">
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="pay_mode" class="col-sm-2 col-form-label">Pay Mode<span
                            style="color: red;">*</span></label>
                    <div class="col-sm-4">
                        <select class="form-select" id="pay_mode" name="pay_mode" aria-label=".form-select-sm example"
                            required>
                            {{!-- <option value="" selected>Select Payment Mode</option> --}}
                            {{#each pay_mode_list}}
                            <option value="{{pay_mode}}" {{#if (eq pay_mode ../data.pay_mode)}}selected{{/if}}>
                                {{pay_mode}}
                            </option>
                            {{/each}}
                        </select>
                    </div>
                    <label for="amount" class="col-sm-2 col-form-label">Amount<span style="color: red;">*</span></label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control text-end" id="amount" name="amount" min="0" step="1"
                            value="{{data.amount}}" required>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="ref_no" class="col-sm-2 col-form-label">Pay Ref No<span
                            style="color: red;">*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="ref_no" name="ref_no" value="{{data.ref_no}}"
                            minlength="1" maxlength="50" required>
                    </div>
                    <label for="ref_date" class="col-sm-2 col-form-label">Pay Ref Date<span
                            style="color: red;">*</span></label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="ref_date" name="ref_date" value="{{data.ref_date}}"
                            required>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="ref_branch" class="col-sm-2 col-form-label">Pay Ref Branch<span
                            style="color: red;">*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="ref_branch" name="ref_branch"
                            value="{{data.ref_branch}}" minlength="1" maxlength="50" required>
                    </div>
                    <label for="ref_desc" class="col-sm-2 col-form-label">Narration</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="ref_desc" name="ref_desc" value="{{data.ref_desc}}"
                            minlength="1" maxlength="50" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="remark" class="col-sm-2 col-form-label">Remarks if any</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="remark" name="remark" rows="3" maxlength="100"
                            placeholder="Enter remark" aria-describedby="remarkHelp">{{data.remark}}</textarea>
                        <div id="remarkHelp" class="form-text">Remark cannot exceed 100 characters.</div>
                    </div>
                </div>

                <div class="col-md-3 d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary mx-1">Submit</button>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-secondary mx-1"
                            onclick="window.location.href='/dealerPay/view'">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{{> _lov-customers}}