{{!-- <div class="container"> --}}
    <div style="padding-right: 25px; padding-left: 25px; padding-top: 10px;">
        <div id="printable-area">

            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h4 style=" margin-bottom: 20px;">Employee Location Report...</h4>
            </div>

            <form id="form1" action="/dsr/report-loc-emp" method="GET">
                {{!-- <div class="col-lg-9 border p-4"> --}}
                    {{!-- <div class="form-group row mb-3"> --}}

                        <div class="row mb-2">
                            <label for="loc_date" class="col-sm-2 col-form-label">Date&nbsp;<span
                                    style="color: red;">*</span></label>
                            <div class="col-sm-4">
                                <input required type="datetime-local" class="form-control" id="loc_date" name="loc_date"
                                    value="{{locToDate}}">
                            </div>
                            <div class="col-md-4 item-align-start">
                                <button type="submit" id="getLocationButton" class="btn btn-success">Refresh
                                    Data</button>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label for="emp_id" class="col-sm-2 col-form-label">Employee</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input hidden type="text" class="form-control" id="emp_id" name="emp_id"
                                        value="{{empData.emp_id}}">
                                    <input readonly type="text" class="form-control" id="emp_name" name="emp_name"
                                        value="{{#if empData.emp_name}} {{empData.emp_name}} {{else}}---: All Employee :---{{/if}}">
                                    <button class="btn btn-outline-secondary" type="button" id="btnEmp"
                                        data-bs-toggle="modal" data-bs-target="#empModal"> <i
                                            class="bi bi-list"></i></button>
                                    <button class="btn btn-outline-secondary" type="button" id="resetBtn">Reset</button>
                                </div>
                            </div>
                        </div>

                        {{!--
                    </div> --}}
                    {{!-- </div> --}}

                <br>
                {{!-- <div id="map" style="height: 800px;"> </div> --}}
                <table class="table" id="empLocTable">
                    <thead>
                        <tr>
                            <th hidden>Emp ID</th>
                            <th>Emp Name</th>
                            <th>Desg</th>
                            <th>HQ</th>
                            <th>Manager</th>
                            <th hidden>Date</th>
                            <th>Time</th>
                            <th>Lat</th>
                            <th>Lng</th>
                            <th>City</th>
                            <th>Location</th>
                            <th>Selfie</th>
                            <th>Odometer</th>
                            <th>Invoice</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each locData}}
                        <tr>
                            <td hidden>{{this.emp_id}}</td>
                            <td style="background-color: rgb(235, 245, 234);">{{this.emp_name}}</td>
                            <td>{{this.desg_name}}</td>
                            <td>{{this.hq_name}}</td>
                            <td>{{this.boss_name}}</td>
                            <td hidden>{{momentDMYHm this.loc_date}}</td>
                            <td>{{this.loc_time}}</td>
                            <td>{{this.loc_lat}}</td>
                            <td>{{this.loc_lng}}</td>
                            <td>{{this.loc_name}}</td>
                            <td>{{this.loc_add}}</td>
                            <td>
                                <img class="zoomable-image" src="{{this.img1}}" alt=""
                                    style="max-width: 100px; max-height: 100px;">
                            </td>
                            <td>
                                <img class="zoomable-image" src="{{this.img2}}" alt=""
                                    style="max-width: 100px; max-height: 100px;">
                            </td>
                            <td>
                                <img class="zoomable-image" src="{{this.img3}}" alt=""
                                    style="max-width: 100px; max-height: 100px;">
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

            </form>

            <div>
                <form id="formCSV" action="/dsr/loc-export-csv" method="GET" class="d-inline">
                    {{!-- <input type="hidden" id="exportCSV_locDate" name="exportCSV_locDate"
                        value="{{momentYMD data.from_date}}"> --}}
                    <input hidden type="datetime-local" id="exportCSV_locDate" name="exportCSV_locDate"
                        value="{{locToDate}}">
                    <input hidden type="text" id="exportCSV_empID" name="exportCSV_empID" value="{{empData.emp_id}}">
                    <button type="submit" id="expor-csv" class="btn btn-warning">Export to CSV</button>
                </form>
            </div>

        </div>
    </div>

    <!-- Bootstrap Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <img id="modalImage" src="" alt="Employee Photo" style="width:100%;">
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const zoomableImages = document.querySelectorAll('.zoomable-image');

            zoomableImages.forEach(function (imgElement) {
                imgElement.addEventListener('dblclick', function () {
                    const modalImage = document.getElementById('modalImage');
                    modalImage.src = imgElement.src; // Set modal image source
                    $('#imageModal').modal('show'); // Open Bootstrap modal
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            /*$('#empLocTable').dataTable({
                pageLength: 10,
                //responsive: true,
                scrollX: true,
                "order": [[1, "asc"], [5, "asc"]]
            });*/

            const dataTable = $("#empLocTable").DataTable();
            dataTable.destroy();
            $("#empLocTable").DataTable({
                "bDestroy": true,
                "order": [[1, "asc"], [5, "asc"]],
                "fixedHeader": true,
                paging: true,
                pageLength: 10,
                //"scrollY": 400,
                "scrollX": true,
                "scrollCollapse": true,
                "fixedColumns": {
                    leftColumns: 2,
                    rightColumns: 0,
                },
            });

            $('#resetBtn').on('click', function () {
                $('#emp_id').val('');
                $('#emp_name').val('---: All Employee :---');
            });

        });

        // Update the hidden input fields when the form is submitted
        $('#form1').on('submit', function (event) {
            event.preventDefault();
            var loc_date = $('#loc_date').val();
            var emp_id = $('#emp_id').val();
            $('#exportCSV_locDate').val(loc_date);
            $('#exportCSV_empID').val(emp_id);
            this.submit();
        });
    </script>

    <script>
        function adjustFontSize() {
            var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

            var frmLabels = document.getElementsByClassName('col-form-label');
            for (var i = 0; i < frmLabels.length; i++) {
                var frmLabel = frmLabels[i];
                if (screenWidth < 768) {
                    frmLabel.style.fontSize = '25px';
                } else if (screenWidth >= 768 && screenWidth < 1024) {
                    frmLabel.style.fontSize = '25px';
                } else {
                    frmLabel.style.fontSize = '20px';
                }
            }

            var frmLabels = document.getElementsByClassName('form-label');
            for (var i = 0; i < frmLabels.length; i++) {
                var frmLabel = frmLabels[i];
                if (screenWidth < 768) {
                    frmLabel.style.fontSize = '25px';
                } else if (screenWidth >= 768 && screenWidth < 1024) {
                    frmLabel.style.fontSize = '25px';
                } else {
                    frmLabel.style.fontSize = '20px';
                }
            }

            var frmControls = document.getElementsByClassName('form-control');
            for (var i = 0; i < frmControls.length; i++) {
                var frmControl = frmControls[i];
                if (screenWidth < 768) {
                    frmControl.style.fontSize = '25px';
                } else if (screenWidth >= 768 && screenWidth < 1024) {
                    frmControl.style.fontSize = '25px';
                } else {
                    frmControl.style.fontSize = '20px';
                }
            }

            var frmControls = document.getElementsByClassName('form-select');
            for (var i = 0; i < frmControls.length; i++) {
                var frmControl = frmControls[i];
                if (screenWidth < 768) {
                    frmControl.style.fontSize = '25px';
                } else if (screenWidth >= 768 && screenWidth < 1024) {
                    frmControl.style.fontSize = '25px';
                } else {
                    frmControl.style.fontSize = '20px';
                }
            }

            var frmBtns = document.getElementsByClassName('btn');
            for (var i = 0; i < frmBtns.length; i++) {
                var frmBtn = frmBtns[i];
                if (screenWidth < 768) {
                    frmBtn.style.fontSize = '25px';
                } else if (screenWidth >= 768 && screenWidth < 1024) {
                    frmBtn.style.fontSize = '25px';
                } else {
                    frmBtn.style.fontSize = '20px';
                }
            }

            var txtItems = document.getElementsByClassName('table');
            for (var i = 0; i < txtItems.length; i++) {
                var txtItem = txtItems[i];
                if (screenWidth < 768) {
                    txtItem.style.fontSize = '25px';
                } else if (screenWidth >= 768 && screenWidth < 1024) {
                    txtItem.style.fontSize = '25px';
                } else {
                    txtItem.style.fontSize = '20px';
                }
            }

            var txtItems = document.getElementsByClassName('page-title');
            for (var i = 0; i < txtItems.length; i++) {
                var txtItem = txtItems[i];
                if (screenWidth < 768) {
                    txtItem.style.fontSize = '30px';
                } else if (screenWidth >= 768 && screenWidth < 1024) {
                    txtItem.style.fontSize = '30px';
                } else {
                    txtItem.style.fontSize = '25px';
                }
            }

        }

        window.addEventListener('DOMContentLoaded', adjustFontSize);
        window.addEventListener('resize', adjustFontSize);
    </script>


    {{> _lov-emp}}