<div class="container">

    <div id="printable-area" >

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h4 style=" margin-bottom: 20px;">Expenses details report...</h4>
            {{!-- {{#isEqual user.user_role "Admin" "Dealer"}}
            <a href="/dealerPay/create" class="btn btn-success">Create New</a>
            {{else}}
            <a href="#" class="btn btn-secondary">Create New</a>
            {{/isEqual}} --}}
        </div>

        <form id="form1" action="/dsr/report" method="GET">
            {{!-- <div class="col-lg-9 border p-4">
                <div class="form-group row mb-3"> --}}

                    <div class="row mb-2">
                        <label for="emp_id" class="col-sm-2 col-form-label">Employee</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input hidden type="text" class="form-control" id="emp_id" name="emp_id"
                                    value="{{bossData.boss_code}}">
                                <input readonly type="text" class="form-control" id="emp_name" name="emp_name"
                                    value="{{bossData.boss_name}}">
                                <button disabled class="btn btn-outline-secondary" type="button" id="btnEmp"
                                    data-bs-toggle="modal" data-bs-target="#empModal"> <i
                                        class="bi bi-list"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="emp_id" class="col-sm-2 col-form-label">Approved By</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input readonly type="text" class="form-control" id="boss_name" name="boss_name"
                                    value="{{empData.boss_name}}">
                            </div>
                        </div>
                    </div>

                    {{!-- <div class="row mb-2">
                        <input type="text" class="form-control" id="mon_date" name="mon_date"
                            value="{{momentYMD data.from_date}}" onfocus="(this.type='month')"
                            onblur="(this.type='text')">
                    </div>

                    <div class="col-md-2 item-align-start">
                        <button type="submit" id="btnRefresh" class="btn btn-success">Refresh Data</button>
                    </div> --}}


                    {{!--
                </div>
            </div> --}}

            <br>
            <div class="row col-lg-10 mb-6">

                <table class="table" id="dsrDataTable">
                    <thead>
                        <tr>
                            <th hidden>Date1</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>HR Flag</th>
                            <th>From City</th>
                            <th>To City</th>
                            <th>Stay</th>
                            <th style="text-align: end;">DA</th>
                            <th style="text-align: end;">Lodging</th>
                            <th style="text-align: end;">Fare</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each dsrData}}
                        <tr>
                            <td hidden>{{momentYMD this.dsr_date}}</td>
                            <td class="col-1">{{momentDMY this.dsr_date}}</td>
                            <td class="col-1">{{this.atten_flag}}</td>
                            <td class="col-3">{{this.hr_flag}}</td>
                            <td class="col-2">{{this.from_city}}</td>
                            <td class="col-1">{{this.to_city}}</td>
                            <td class="col-1">{{this.stay_city}}</td>
                            <td class="col-1" style="text-align: end;">
                                <span id="RTotalAllow">{{this.total_allow}}</span>
                            </td>
                            <td class="col-1" style="text-align: end;">
                                <span id="RTotalLodge">{{this.total_lodge}}</span>
                            </td>
                            <td class="col-1" style="text-align: end;">
                                <span id="RTotalExp">{{this.total_exp}}</span>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>

                </table>

            </div>

            <div class="row mb-2">
                <div class="col-sm-3">
                    <table class="table" id="dsrAttenTable">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th style="text-align: end;">Days</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each dsrAtten}}
                            <tr>
                                <td class="col-1">{{this.atten_flag}}</td>
                                <td class="col-2" style="text-align: end;">
                                    <span id="atten_days">
                                        {{this.atten_cnt}}
                                    </span>
                                </td>
                            </tr>
                            {{/each}}
                            <tr>
                                <td class="col-1"><strong>Total Days</strong></td>
                                <td class="col-1" style="text-align: end;"><strong><span id="totalDays"></strong></span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-sm-1"> </div>
                <div class="col-sm-3">
                    <table class="table" id="dsrSumTable">
                        <thead>
                            <tr>
                                <th>Particulars</th>
                                <th style="text-align: end;">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-1">Total DA</td>
                                <td class="col-2" style="text-align: end;">
                                    <span id="GTotalAllow"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-1">Total Lodging</td>
                                <td class="col-2" style="text-align: end;">
                                    <span id="GTotalLodge"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-1">Total Fare</td>
                                <td class="col-2" style="text-align: end;">
                                    <span id="GTotalExp"></span>
                                </td>
                            </tr>

                            <tr>
                                <td class="col-1">Stationary</td>
                                <td class="col-2" style="text-align: end;">
                                    <span id="stationaryVal">{{dsrSum.stationary_val}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-1">Postage</td>
                                <td class="col-2" style="text-align: end;">
                                    <span id="postageVal">{{dsrSum.postage_val}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-1">Internet</td>
                                <td class="col-2" style="text-align: end;">
                                    <span id="internetVal">{{dsrSum.internet_val}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-1">Other</td>
                                <td class="col-2" style="text-align: end;">
                                    <span id="otherVal">{{dsrSum.other_val}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-1"><strong>Total Amount</strong></td>
                                <td class="col-2" style="text-align: end;">
                                    <strong> <span style="font: bold;" id="GTotal"></span> </strong>
                                </td>
                            </tr>

                            <tr>
                                <td class="col-1">Remarks</td>
                                <td class="col-2" style="text-align: end;">
                                    <span id="remarksVal">{{dsrSum.remarks}}</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </form>

    </div>

    <br>

    {{!-- <div>
        <form id="form2" action="/dealerPay/export-excel" method="GET" class="d-inline">
            <input type="hidden" id="exportExcel_from_date" name="exportExcel_from_date"
                value="{{momentYMD data.from_date}}">
            <input type="hidden" id="exportExcel_to_date" name="exportExcel_to_date" value="{{momentYMD data.to_date}}">
            <button type="submit" id="expor-excel" class="btn btn-success">Export to Excel</button>
        </form>
        <form id="form3" action="/dealerPay/export-csv" method="GET" class="d-inline">
            <input type="hidden" id="exportCSV_from_date" name="exportCSV_from_date"
                value="{{momentYMD data.from_date}}">
            <input type="hidden" id="exportCSV_to_date" name="exportCSV_to_date" value="{{momentYMD data.to_date}}">
            <button type="submit" id="expor-csv" class="btn btn-warning">Export to CSV</button>
        </form>
        <form id="form4" action="/dealerPay/export-pdf" method="GET" class="d-inline">
            <input type="hidden" id="exportPDF_from_date" name="exportPDF_from_date"
                value="{{momentYMD data.from_date}}">
            <input type="hidden" id="exportPDF_to_date" name="exportPDF_to_date" value="{{momentYMD data.to_date}}">
            <button type="submit" id="expor-pdf" class="btn btn-danger">Export to PDF</button>
        </form>
    </div> --}}


    <script>
        {
            {
                !--$(document).ready(function () {
                    $('#dsrDataTable').dataTable({
                        pageLength: 10,
                        responsive: true,
                        "order": [[0, "asc"]]
                        /*, [2, "desc"]*/
                    });
                }); --}
        }

        // Update the hidden input fields when the form is submitted
        /*$('#form1').on('submit', function (event) {
            event.preventDefault();
            var from_date = $('#from_date').val();
            var to_date = $('#to_date').val();
            $('#exportExcel_from_date').val(from_date);
            $('#exportExcel_to_date').val(to_date);
            $('#exportCSV_from_date').val(from_date);
            $('#exportCSV_to_date').val(to_date);
            $('#exportPDF_from_date').val(from_date);
            $('#exportPDF_to_date').val(to_date);
            this.submit();
        });*/
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const daysInputs = document.querySelectorAll("#dsrAttenTable #atten_days");
            let totalDays = 0;
            daysInputs.forEach((input) => {
                totalDays += parseFloat(input.textContent);
            });
            document.getElementById("totalDays").innerText = totalDays;

            const RTotalAllows = document.querySelectorAll("#dsrDataTable #RTotalAllow");
            let RTotalAllowVal = 0;
            RTotalAllows.forEach((input) => {
                RTotalAllowVal += parseFloat(input.textContent);
            });
            document.getElementById("GTotalAllow").innerText = RTotalAllowVal;

            const RTotalLodges = document.querySelectorAll("#dsrDataTable #RTotalLodge");
            let RTotalLodgeVal = 0;
            RTotalLodges.forEach((input) => {
                RTotalLodgeVal += parseFloat(input.textContent);
            });
            document.getElementById("GTotalLodge").innerText = RTotalLodgeVal;

            const RTotalExps = document.querySelectorAll("#dsrDataTable #RTotalExp");
            let RTotalExpVal = 0;
            RTotalExps.forEach((input) => {
                RTotalExpVal += parseFloat(input.textContent);
            });
            document.getElementById("GTotalExp").innerText = RTotalExpVal;

            const stationaryVal = document.getElementById("stationaryVal").innerText
            const postageVal = document.getElementById("postageVal").innerText
            const internetVal = document.getElementById("internetVal").innerText
            const otherVal = document.getElementById("otherVal").innerText

            const GTotal = RTotalAllowVal + RTotalLodgeVal + RTotalExpVal + parseFloat(stationaryVal) + parseFloat(postageVal) + parseFloat(internetVal) + parseFloat(otherVal)

            document.getElementById("GTotal").innerText = GTotal

        });
    </script>

</div>