<div class="container">

    <div id="printable-area">

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h4 style=" margin-bottom: 20px;">Expenses Details Report...</h4>
            {{!-- {{#isEqual user.user_role "Admin" "Dealer"}}
            <a href="/dealerPay/create" class="btn btn-success">Create New</a>
            {{else}}
            <a href="#" class="btn btn-secondary">Create New</a>
            {{/isEqual}} --}}

            <div>
                {{#isEqual dsrSum.post_mg "Y" }}
                <form id="form2" action="/dsr/export-pdf" method="GET" class="d-inline">
                    <input hidden required type="month" id="exportPDF_curMon" name="exportPDF_curMon" value="{{curMon}}"
                        min="{{minDate}}" max="{{maxDate}}">
                    <input hidden required id="exportPDF_empID" name="exportPDF_empID" value="{{empData.emp_id}}">
                    <button type="submit" id="expor-pdf" class="btn btn-danger">Export to PDF</button>
                </form>
                {{/isEqual}}
            </div>

        </div>

        <form id="form1" action="/dsr/report" method="GET">
            {{!-- <div class="col-lg-9 border p-4">
                <div class="form-group row mb-3"> --}}

                    <div class="row mb-2">
                        <label for="mon_date" class="col-sm-2 col-form-label">Month&nbsp;<span style="color: red;">*</span></label>
                        <div class="col-sm-2">
                            <input type="month" class="form-control" id="mon_date" name="mon_date" value="{{curMon}}"
                                min="{{minDate}}" max="{{maxDate}}">
                        </div>
                        <div class="col-md-2 item-align-start">
                            <button type="submit" id="btnRefresh" class="btn btn-success">Refresh Data</button>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label for="emp_id" class="col-sm-2 col-form-label">Employee&nbsp;<span style="color: red;">*</span></label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input hidden type="text" class="form-control" id="emp_id" name="emp_id"
                                    value="{{empData.emp_id}}">
                                <input readonly type="text" class="form-control" id="emp_name" name="emp_name"
                                    value="{{empData.emp_name}}">
                                <button class="btn btn-outline-secondary" type="button" id="btnEmp"
                                    data-bs-toggle="modal" data-bs-target="#empModal"> <i
                                        class="bi bi-list"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label for="boss_id" class="col-sm-2 col-form-label">Approved By</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input hidden type="text" class="form-control" id="boss_id" name="boss_id"
                                    value="{{empData.boss_id}}">
                                <input readonly type="text" class="form-control" id="boss_name" name="boss_name"
                                    value="{{empData.boss_name}}">
                            </div>
                        </div>
                    </div>

                    {{#isEqual dsrSum.post_mg "Y" }}{{else}}
                    <div class="row mb-2">
                        <label for="boss_id" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-6">
                            <strong style="color: red;">This report is not approved. </strong>
                        </div>
                    </div>
                    {{/isEqual}}

                    {{!--
                </div>
            </div> --}}

            <br>

            {{#if dsrData }}
            <div class="table-responsive">
                <table class="table" id="dsrDataTable">
                    <thead>
                        <tr>
                            <th hidden>Date1</th>
                            <th style="width:10%;">Date</th>
                            <th style="width:10%;">Status</th>
                            <th style="width:10%;">HR Flag</th>
                            <th style="width:13.33%;">From City</th>
                            <th style="width:13.33%;">To City</th>
                            <th style="width:13.33%;">Stay</th>
                            <th style="width:10%; text-align: end;">Lodging</th>
                            <th style="width:10%; text-align: end;">DA</th>
                            <th style="width:10%; text-align: end;">Fare</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each dsrData}}
                        <tr>
                            <td hidden>{{momentYMD this.dsr_date}}</td>
                            <td>{{momentDMY this.dsr_date}}</td>
                            <td>{{this.atten_flag}}</td>
                            <td>{{this.hr_flag}}</td>
                            <td>{{this.from_city}}</td>
                            <td>{{this.to_city}}</td>
                            <td>{{this.stay_city}}</td>
                            <td style="text-align: end;">
                                <span id="RTotalLodge">{{this.total_lodge}}</span>
                            </td>
                            <td style="text-align: end;">
                                <span id="RTotalAllow">{{this.total_allow}}</span>
                            </td>
                            <td style="text-align: end;">
                                <span id="RTotalExp">{{this.total_exp}}</span>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="row mb-2">
                <div class="col-sm-3">
                    <div class="table-responsive">
                        <table class="table" id="dsrAttenTable">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th style="text-align: end;">Days</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each dsrAtten}}
                                <tr>
                                    <td class="col-1">{{this.atten_flag}}</td>
                                    <td class="col-2" style="text-align: end;">
                                        <span id="atten_days">
                                            {{this.atten_cnt}}
                                        </span>
                                    </td>
                                </tr>
                                {{/each}}
                                <tr>
                                    <td class="col-1"><strong>Total Days</strong></td>
                                    <td class="col-1" style="text-align: end;"><strong><span id="totalDays"></strong></span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-1"> </div>
                <div class="col-sm-3">
                    <div class="table-responsive">
                        <table class="table" id="dsrSumTable">
                            <thead>
                                <tr>
                                    <th>Particulars</th>
                                    <th style="text-align: end;">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-1">Total DA</td>
                                    <td class="col-2" style="text-align: end;">
                                        <span id="GTotalAllow"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-1">Total Lodging</td>
                                    <td class="col-2" style="text-align: end;">
                                        <span id="GTotalLodge"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-1">Total Fare</td>
                                    <td class="col-2" style="text-align: end;">
                                        <span id="GTotalExp"></span>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="col-1">Stationary</td>
                                    <td class="col-2" style="text-align: end;">
                                        <span id="stationaryVal">{{dsrSum.stationary_val}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-1">Postage</td>
                                    <td class="col-2" style="text-align: end;">
                                        <span id="postageVal">{{dsrSum.postage_val}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-1">Internet</td>
                                    <td class="col-2" style="text-align: end;">
                                        <span id="internetVal">{{dsrSum.internet_val}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-1">Other</td>
                                    <td class="col-2" style="text-align: end;">
                                        <span id="otherVal">{{dsrSum.other_val}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-1"><strong>Total Amount</strong></td>
                                    <td class="col-2" style="text-align: end;">
                                        <strong> <span style="font: bold;" id="GTotal"></span> </strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="col-1">Remarks</td>
                                    <td class="col-2" style="text-align: end;">
                                        <span id="remarksVal">{{dsrSum.remarks}}</span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="row mb-2  border p-4">
                <span style="display: flex; justify-content: center;  align-items: center;">---: No data found
                    :---</span>
            </div>
            {{/if}}

        </form>

    </div>

    <br>




    <script>
        {
            {
                !--$(document).ready(function () {
                    $('#dsrDataTable').dataTable({
                        pageLength: 10,
                        responsive: true,
                        "order": [[0, "asc"]]
                        /*, [2, "desc"]*/
                    });
                }); --}
        }

        // Update the hidden input fields when the form is submitted
        $('#form1').on('submit', function (event) {
            event.preventDefault();
            var mon_date = $('#mon_date').val();
            var emp_id = $('#emp_id').val();
            $('#exportPDF_curMon').val(mon_date);
            $('#exportPDF_empID').val(emp_id);
            this.submit();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const daysInputs = document.querySelectorAll("#dsrAttenTable #atten_days");
            let totalDays = 0;
            daysInputs.forEach((input) => {
                totalDays += parseFloat(input.textContent);
            });
            document.getElementById("totalDays").innerText = totalDays;

            const RTotalAllows = document.querySelectorAll("#dsrDataTable #RTotalAllow");
            let RTotalAllowVal = 0;
            RTotalAllows.forEach((input) => {
                RTotalAllowVal += parseFloat(input.textContent);
            });
            document.getElementById("GTotalAllow").innerText = RTotalAllowVal;

            const RTotalLodges = document.querySelectorAll("#dsrDataTable #RTotalLodge");
            let RTotalLodgeVal = 0;
            RTotalLodges.forEach((input) => {
                RTotalLodgeVal += parseFloat(input.textContent);
            });
            document.getElementById("GTotalLodge").innerText = RTotalLodgeVal;

            const RTotalExps = document.querySelectorAll("#dsrDataTable #RTotalExp");
            let RTotalExpVal = 0;
            RTotalExps.forEach((input) => {
                RTotalExpVal += parseFloat(input.textContent);
            });
            document.getElementById("GTotalExp").innerText = RTotalExpVal;

            const stationaryVal = document.getElementById("stationaryVal").innerText
            const postageVal = document.getElementById("postageVal").innerText
            const internetVal = document.getElementById("internetVal").innerText
            const otherVal = document.getElementById("otherVal").innerText

            const GTotal = RTotalAllowVal + RTotalLodgeVal + RTotalExpVal + parseFloat(stationaryVal) + parseFloat(postageVal) + parseFloat(internetVal) + parseFloat(otherVal)

            document.getElementById("GTotal").innerText = GTotal

        });
    </script>

    <style>
        @media print {
            /*#dsrDataTable {
                float: none;
                width: 90%;
            }*/

            #dsrAttenTable,
            #dsrSumTable {
                float: left;
                width: 40%;
            }
        }
    </style>

</div>

{{> _lov-emp}}