<div class="container">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h4 style=" margin-bottom: 20px;">List of Consumer</h4>
        <a href="/consumer/create" class="btn btn-success">Create New</a>
    </div>

    <table class="table" id="consumersTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Consumer Name</th>
                <th>Type</th>
                <th>Mobile</th>
                <th>City-Pin</th>
                <th>District</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each consumers}}
            <tr>
                <td class="text-end">{{this.consumer_id}}</td>
                <td>{{this.consumer_name}}</td>
                <td>{{this.consumer_type}}</td>
                <td>{{this.mobile_no}}</td>
                <td>{{this.city_pin}}</td>
                <td>{{this.district}}</td>                
                <td>
                    <!-- <a href="/consumer/viewByID/{{this.consumer_id}}" class="btn btn-secondary btn-sm">
                        <i class="bi bi-eye"></i>
                    </a> -->
                    <a href="/consumer/update/{{this.consumer_id}}" class="btn btn-primary btn-sm">
                        <i class="bi bi-pencil"></i>
                    </a>
                    {{#isEqual ../user.user_role "Admin"}}
                    <a href="/consumer/delete/{{this.consumer_id}}" class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure?')">
                        <i class="bi bi-trash"></i>
                    </a>
                    {{/isEqual}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#consumersTable').dataTable({
                pageLength: 10
            });
        });
    </script>

</div>
