<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 border p-4"> {{!-- border-secondary --}}
            <h4 class="mb-3">Update Dealer for SAP Code {{data.ext_code}}</h4>

            {{!-- <form action="/customer/update-info/{{data.customer_id}}" method="post"> --}}
                <form action="/customer/update-info/{{data.customer_id}}" method="post" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <label for="customer_name" class="col-sm-2 col-form-label">Firm Name<span
                                style="color: red;">*</span>
                        </label>
                        <div class="col-sm-10">
                            <input hidden type="text" class="form-control" id="customer_id" name="customer_id"
                                value="{{data.customer_id}}">
                            <input disabled type="text" class="form-control" id="customer_name" name="customer_name"
                                value="{{data.customer_name}}" placeholder="Enter dealer name" minlength="1"
                                maxlength="50" aria-describedby="customer_nameHelp">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="godown_area" class="col-sm-2 col-form-label">Godown Area<span
                                style="color: red;">*</span>
                        </label>
                        <div class="col-sm-10">
                            <input type="number" max="9999" step="1.00" class="form-control" id="godown_area"
                                name="godown_area" value="{{data.godown_area}}" required
                                placeholder="Godown Area in Sq Ft">
                            {{!-- <div id="godown_Help" class="form-text">Enter Godown Area in Square Feet</div> --}}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="gst_no" class="col-sm-2 col-form-label">GST Number</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="gst_no" name="gst_no" maxlength="15"
                                value="{{data.gst_no}}" required placeholder="GST NUMBER">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="nick_name" class="col-sm-2 col-form-label">Contact Person<span
                                style="color: red;">*</span>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nick_name" name="nick_name"
                                value="{{data.nick_name}}" required placeholder="Enter Nickname">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="cust_care_no" class="col-sm-2 col-form-label">Contact No</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="cust_care_no" name="cust_care_no" maxlength="20"
                                value="{{data.cust_care_no}}" required placeholder="Customer Care No">
                        </div>
                    </div>

                    {{!-- ************************** --}}
                    <div class="row mb-3">
                        <label for="add1" class="col-sm-2 col-form-label">Office Address</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="add1" name="add1" value="{{data.add1}}"
                                placeholder="Enter address lines 1" minlength="1" maxlength="50"
                                aria-describedby="add1Help">
                            {{!-- <div id="add1Help" class="form-text">Dealer address lines 1 cannot exceed 50
                                characters.
                            </div> --}}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="add2" class="col-sm-2 col-form-label">Godown Address 1</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="add2" name="add2" value="{{data.add2}}"
                                placeholder="Enter address lines 2" minlength="1" maxlength="50"
                                aria-describedby="add2Help">
                            {{!-- <div id="add2Help" class="form-text">Dealer address lines 2 cannot exceed 50
                                characters.
                            </div> --}}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="add3" class="col-sm-2 col-form-label">Godown Address 2</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="add3" name="add3" value="{{data.add3}}"
                                placeholder="Enter address lines 3" minlength="1" maxlength="50"
                                aria-describedby="add3Help">
                            {{!-- <div id="add3Help" class="form-text">Dealer address lines 3 cannot exceed 50
                                characters.
                            </div> --}}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="city" class="col-sm-2 col-form-label">City<span style="color: red;">*</span>
                        </label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" id="city" name="city" value="{{data.city}}"
                                    placeholder="Enter city name" minlength="1" maxlength="50"
                                    aria-describedby="cityHelp">
                                <button class="btn btn-outline-info" type="button" data-bs-toggle="modal"
                                    data-bs-target="#cityModal">

                                    <i class="bi bi-list"></i></button>
                            </div>
                            {{!-- <div id="cityHelp" class="form-text">Select city name from list and cannot exceed 50
                                characters.
                            </div> --}}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="pin_code" class="col-sm-2 col-form-label">Pin Code<span
                                style="color: red;">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="pin_code" name="pin_code"
                                value="{{data.pin_code}}" placeholder="Enter pin code" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="district" class="col-sm-2 col-form-label">District<span
                                style="color: red;">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="district" name="district"
                                value="{{data.district}}" placeholder="Enter district" minlength="1" maxlength="50">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="state" class="col-sm-2 col-form-label">State<span
                                style="color: red;">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="state" name="state" value="{{data.state}}"
                                placeholder="Enter state" minlength="1" maxlength="50">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="total_counters" class="col-sm-2 col-form-label">No of Customers</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="total_counters" name="total_counters"
                                value="{{data.total_counters}}" required placeholder="Total Number of Counters">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="user_id" class="col-sm-2 col-form-label">Sales Manager<span style="color: red;">*</span>
                        </label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input hidden type="text" class="form-control" id="mg_id" name="mg_id" value="{{data.mg_id}}">
                                <input readonly type="text" class="form-control" id="mg_name" name="mg_name"
                                    value="{{data.mg_name}}" placeholder="Mapping manager name" minlength="1"  maxlength="50">
                                <button class="btn btn-outline-info" type="button" id="btnMG" data-bs-toggle="modal"
                                    data-bs-target="#salesMgModal"> <i class="bi bi-list"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="se_id" class="col-sm-2 col-form-label">Sales Excecutive<span
                                style="color: red;">*</span>
                        </label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input hidden type="text" class="form-control" id="se_id" name="se_id" value="{{data.se_id}}">
                                <input readonly type="text" class="form-control" id="se_name" name="se_name"
                                    value="{{data.se_name}}" placeholder="Mapping sales username" minlength="1" maxlength="50">
                                <button class="btn btn-outline-info" type="button" id="btnSE" data-bs-toggle="modal"
                                    data-bs-target="#seModal"> <i class="bi bi-list"></i></button>
                            </div>
                        </div>
                    </div>

                    {{!-- ************************** --}}
                    <div class="row mb-3">
                        <label for="photo" class="col-sm-2 col-form-label">Proprietor Photo<span
                                style="color: red;">*</span></label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" id="photo" name="photo" accept="image/*" 
                                onchange="previewImage(event)">
                            <input type="hidden" id="geo_location" name="geo_location" value="{{data.geo_location}}" >
                            <div class="mt-2">
                                <img id="photoPreview" src="{{data.geo_location}}"  alt="Customer Photo"
                                    class="img-thumbnail"
                                    style="max-width: 150px; {{#if data.geo_location}}{{else}}display: none;{{/if}}">
                            </div>
                        </div>
                    </div>
                    {{!-- ************************** --}}

                    {{!-- Work Person Details --}}
                    <div class="mb-3 border p-4">
                        <label for="wp_info_table" class="form-label"><strong>Working Person Information</strong></label>
                        <table class="table" id="wp_info_table">
                            <thead>
                                <tr>
                                    <th style="width:7%;">Sr</th>
                                    <th style="width:18%;">WP Type</th>
                                    <th style="width:25%;">WP Name</th>
                                    <th style="width:15%;">Mobile No</th>
                                    <th style="width:15%;">Education</th>
                                    <th style="width:15%;">Birth Date</th>
                                    <th style="width:5%;">Action</th>
                                </tr>
                            </thead>
                            <tbody id="tableBodyWpInfo">

                                {{#each [wpData]}}
                                <tr>
                                    <td><input readonly type="text" class="form-control text-end" id="sr_no_wp"
                                            name="sr_no_wp[]" required value={{this.sr_no}}></td>
                                    <td>
                                        <select class="form-select" id="wp_type" name="wp_type[]"
                                            aria-label=".form-select-sm example">
                                            {{!-- <option value="" style="color: gray;" selected>Select Type</option> --}}
                                            <option aria-required="true" value="Proprietor" {{#isEqual this.wp_type "Proprietor"
                                                }}selected{{/isEqual}}>Proprietor/Partner</option>
                                            {{!-- <option value="Accountant" {{#isEqual this.wp_type "Accountant"
                                                }}selected{{/isEqual}}>Accountant</option>
                                            <option value="Salesman" {{#isEqual this.wp_type "Salesman"
                                                }}selected{{/isEqual}}>Salesman</option>
                                            <option value="Driver" {{#isEqual this.wp_type "Driver"
                                                }}selected{{/isEqual}}>Driver</option> --}}
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control text-start" id="wp_name"
                                            name="wp_name[]" maxlength="20" value="{{this.wp_name}}"> </td>
                                    <td><input type="text" class="form-control text-start" id="wp_mobile"
                                            name="wp_mobile[]" maxlength="10" value="{{this.wp_mobile}}"> </td>
                                    <td><input type="text" class="form-control text-start" id="wp_edu"
                                            name="wp_edu[]" maxlength="10" value="{{this.wp_edu}}"> </td>
                                    <td><input type="date" class="form-control text-start" id="wp_dob"
                                            name="wp_dob[]" value="{{momentYMD this.wp_dob}}"> </td>
                                    <td>
                                        <button type="button" id="removeWpBtn" onclick="removeSelectedWp(this)"
                                            class="btn btn-danger">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <button type="button" id="btnAddWp" class="btn btn-success">Add Working Person</button>
                            </div>
                        </div>
                    </div>

                    {{!-- Vehicle details --}}
                    <div class="mb-3 border p-4">
                        <label for="Vehicle Information" class="form-label"><strong>Vehicle Information</strong></label>
                        <table class="table" id="veh_info_table">
                            <thead>
                                <tr>
                                    <th style="width:8%;">Sr</th>
                                    <th style="width:20%;">Reg No</th>
                                    <th style="width:20%;">Vehicle Type</th>
                                    <th style="width:15%;">Insurance No</th>
                                    <th style="width:12%;">Expiry Date</th>
                                    <th style="width:10%;">Routes</th>
                                    <th style="width:10%;">Outlets</th>
                                    <th style="width:5%;">Action</th>
                                </tr>
                            </thead>
                            <tbody id="tableBodyVehInfo">

                                {{#each [vehData]}}
                                <tr>
                                    <td><input readonly type="text" class="form-control text-end" id="sr_no"
                                            name="sr_no[]" required value="{{this.sr_no}}"></td>
                                    <td><input type="text" class="form-control text-start text-uppercase" id="reg_no"
                                            name="reg_no[]" maxlength="10" value="{{this.reg_no}}"> </td>
                                    <td><input type="text" class="form-control text-start text-uppercase" id="Veh_Type"
                                            name="veh_type[]" maxlength="10" value="{{this.veh_type}}"> </td>
                                    <td><input type="text" class="form-control text-start" id="ins_no" name="ins_no[]"
                                            maxlength="20" value="{{this.ins_no}}"> </td>
                                    <td><input type="date" class="form-control text-start" id="ins_date"
                                            name="ins_date[]" value="{{momentYMD this.ins_date}}"> </td>
                                    <td><input type="number" class="form-control text-end" id="routes"
                                            name="routes[]" value="{{this.routes}}"> </td>
                                    <td><input type="number" class="form-control text-end" id="outlets"
                                            name="outlets[]" value="{{this.outlets}}"> </td>
                                    <td>                                    
                                        <button type="button" id="removeItemBtn" onclick="removeSelectedItem(this)"
                                            class="btn btn-danger">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <button type="button" id="btnAddVeh" class="btn btn-success">Add Vehicle</button>
                            </div>

                        </div>
                    </div>
                    
                    {{!-- Saleman Details --}}
                    <div class="mb-3 border p-4">
                        <label for="sp_info_table" class="form-label"><strong>Saleman Information</strong></label>
                        <table class="table" id="sp_info_table">
                            <thead>
                                <tr>
                                    <th style="width:7%;">Sr</th>
                                    <th style="width:18%;">Employee Type</th>
                                    <th style="width:25%;">Employee Name</th>
                                    <th style="width:15%;">Mobile No</th>
                                    <th style="width:10%;">Education</th>
                                    <th style="width:10%;">Work Year</th>
                                    <th style="width:10%;">Salary</th>
                                    <th style="width:5%;">Action</th>
                                </tr>
                            </thead>
                            <tbody id="tableBodySpInfo">

                                {{#each [spData]}}
                                <tr>
                                    <td><input readonly type="text" class="form-control text-end" id="sr_no_sp"
                                            name="sr_no_sp[]" required value={{this.sr_no}}></td>
                                    <td>
                                        <select class="form-select" id="sp_type" name="sp_type[]"
                                            aria-label=".form-select-sm example">
                                            {{!-- <option value="" style="color: gray;" selected>Select Type</option> --}}
                                            <option aria-required="true" value="Proprietor" {{#isEqual this.sp_type "Proprietor"
                                                }}selected{{/isEqual}}>Proprietor/Partner</option>
                                            <option value="Accountant" {{#isEqual this.sp_type "Accountant"
                                                }}selected{{/isEqual}}>Accountant</option>
                                            <option value="Salesman" {{#isEqual this.sp_type "Salesman"
                                                }}selected{{/isEqual}}>Salesman</option>
                                            <option value="Driver" {{#isEqual this.sp_type "Driver"
                                                }}selected{{/isEqual}}>
                                                Driver</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control text-start" id="sp_name" name="sp_name[]"
                                            maxlength="20" value={{this.sp_name}}> </td>
                                    <td><input type="text" class="form-control text-start" id="sp_mobile"
                                            name="sp_mobile[]" maxlength="10" value={{this.sp_mobile}}> </td>
                                    <td><input type="text" class="form-control text-start" id="sp_edu"
                                            name="sp_edu[]" maxlength="10" value={{this.sp_edu}}> </td>
                                    <td><input type="numer" class="form-control text-start" id="sp_year"
                                            name="sp_year[]" maxlength="4" value={{this.sp_year}}> </td>
                                    <td><input type="numer" class="form-control text-end" id="sp_salary"
                                            name="sp_salary[]"  value={{this.sp_salary}}> </td>
                                    <td>
                                        <button type="button" id="removeSpBtn" onclick="removeSelectedSp(this)"
                                            class="btn btn-danger">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <button type="button" id="btnAddSp" class="btn btn-success">Add Salesman</button>
                            </div>
                        </div>
                    </div>

                    {{!-- Submit Action --}}
                    <div class="col-md-3 d-flex justify-content-between">
                        <button id="btnSubmit" {{#isEqual user.user_role "Read" }} disabled {{/isEqual}} type="submit"
                            class="btn btn-primary mx-1">Submit</button>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-secondary mx-1"
                                onclick="window.location.href='/customer/view-info'">Cancel</button>
                        </div>
                    </div>

                </form>
        </div>
    </div>
</div>

{{> _lov-cities}}

{{> _lov-emp_mg}}
{{> _lov-emp_se}}

<script>
    const btnMG = document.getElementById("btnMG");
    const se_id = document.getElementById("se_id");
    const se_name = document.getElementById("se_name");
    btnMG.addEventListener("click", () => {
        se_id.value = "";
        se_name.value = "";
    });

    const btnSE = document.getElementById('btnSE');
    btnSE.addEventListener("click", async function () {
        const mg_id = document.getElementById("mg_id").value;

        // Destroy the existing DataTable instance
        const empSeTable = $('#empSeTable').DataTable();
        empSeTable.destroy();

        try {
            const response = await fetch(`/customer/se-list?mg_id=${mg_id}`);
            const data = await response.json();
            const se_list = data.se_list;

            // Update the table body with the new se_list data
            const seListTableBody = document.getElementById("seListTableBody");
            seListTableBody.innerHTML = ""; // Clear the existing content

            se_list.forEach((se) => {
                const row = document.createElement("tr");
                row.innerHTML = `
                <td class="col-4">${se.emp_name}</td>
                <td class="col-2">${se.emp_id}</td>
                <td class="col-1">${se.desg_name}</td>
                <td class="col-2">${se.hq_name}</td>
                <td class="col-1">${se.off_day}</td>
                <td class="col-1" style="text-align: center;">
                    <button type="button" class="btn btn-info btn-sm"
                        onclick="handleSelectButtonEmpSe(this)">
                        <i class="bi bi-check2-square"></i>&nbsp;Select
                    </button>
                </td>
            `;

                seListTableBody.appendChild(row);
            });

            // Create a new DataTable instance
            $('#empSeTable').DataTable({
                pageLength: 10
            });

        } catch (error) {
            console.error(error);
        }
    });

</script>

<script>
    $(document).ready(function () {
        $('#veh_info_table').dataTable({
            pageLength: 10,
            responsive: true,
        });
    });

    $(document).ready(function () {
        $('#sp_info_table').dataTable({
            pageLength: 10,
            responsive: true,
        });
    });

    $(document).ready(function () {
        $('#wp_info_table').dataTable({
            pageLength: 10,
            responsive: true,
        });
    });
</script>

<script>
    const tBodyVehInfo = document.getElementById("tableBodyVehInfo");
    const btnAddVeh = document.getElementById("btnAddVeh");

    btnAddVeh.addEventListener("click", function () {
        // Get the last row in the table body
        const lastRow = tBodyVehInfo.lastElementChild;
        // Clone the last row
        const newRow = lastRow.cloneNode(true);
        // Clear the input fields in the new row
        const inputs = newRow.querySelectorAll("input");

        inputs.forEach(input => { input.value = ""; });
        // Increment the serial number in the new row
        const srNoValue = parseInt(lastRow.querySelector("#sr_no").value);
        const srNoInput = newRow.querySelector("#sr_no");
        //const srNoValue = parseInt(srNoInput.value);
        srNoInput.value = srNoValue + 1;

        // Get the newly added rate field
        // Append the new row to the table body
        tBodyVehInfo.appendChild(newRow);
    });

    function removeSelectedItem(element) {
        const row = element.closest("tr");
        if (row.rowIndex === 1) {
            alert("First row can't be delete!");
            return;
        }

        // Prompt user for confirmation
        const confirmed = confirm("Are you sure you want to delete this row?");
        if (!confirmed) {
            return;
        }
        // Remove the row from the table
        row.remove();

        // Recalculate the total Amount
        /*const amountInputs = orderItemsBody.querySelectorAll("#amount");
        let totalAmount = 0;
        amountInputs.forEach((input) => {
            totalAmount += parseFloat(input.value);
        });
        document.getElementById("totalAmount").value = totalAmount.toFixed(2);
        */
    }

</script>

<script>
    const tBodySpInfo = document.getElementById("tableBodySpInfo");
    const btnAddSp = document.getElementById("btnAddSp");

    btnAddSp.addEventListener("click", function () {
        // Get the last row in the table body
        const lastRow = tBodySpInfo.lastElementChild;
        // Clone the last row
        const newRow = lastRow.cloneNode(true);
        // Clear the input fields in the new row
        const inputs = newRow.querySelectorAll("input");

        inputs.forEach(input => { input.value = ""; });
        // Increment the serial number in the new row
        const srNoValueSp = parseInt(lastRow.querySelector("#sr_no_sp").value);
        const srNoInputSp = newRow.querySelector("#sr_no_sp");
        //const srNoValueSp = parseInt(srNoInputSp.value);
        srNoInputSp.value = srNoValueSp + 1;

        // Get the newly added rate field
        // Append the new row to the table body
        tBodySpInfo.appendChild(newRow);
    });

    function removeSelectedSp(element) {
        const row = element.closest("tr");
        if (row.rowIndex === 1) {
            alert("First row can't be delete!");
            return;
        }

        // Prompt user for confirmation
        const confirmed = confirm("Are you sure you want to delete this row?");
        if (!confirmed) {
            return;
        }
        // Remove the row from the table
        row.remove();
    }

</script>

<script>
    const tBodyWpInfo = document.getElementById("tableBodyWpInfo");
    const btnAddWp = document.getElementById("btnAddWp");

    btnAddWp.addEventListener("click", function () {
        // Get the last row in the table body
        const lastRow = tBodyWpInfo.lastElementChild;
        // Clone the last row
        const newRow = lastRow.cloneNode(true);
        // Clear the input fields in the new row
        const inputs = newRow.querySelectorAll("input");

        inputs.forEach(input => { input.value = ""; });
        // Increment the serial number in the new row
        const srNoValueWp = parseInt(lastRow.querySelector("#sr_no_wp").value);
        const srNoInputWp = newRow.querySelector("#sr_no_wp");
        //const srNoValueWp = parseInt(srNoInputWp.value);
        srNoInputWp.value = srNoValueWp + 1;

        // Get the newly added rate field
        // Append the new row to the table body
        tBodyWpInfo.appendChild(newRow);
    });

    function removeSelectedWp(element) {
        const row = element.closest("tr");
        if (row.rowIndex === 1) {
            alert("First row can't be delete!");
            return;
        }

        // Prompt user for confirmation
        const confirmed = confirm("Are you sure you want to delete this row?");
        if (!confirmed) {
            return;
        }
        // Remove the row from the table
        row.remove();
    }

</script>


<script>
    function previewImage(event) {
        const preview = document.getElementById("photoPreview");
        const file = event.target.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = "block";
            };
            reader.readAsDataURL(file);
        }
    }
</script>

<script>
  // Function to validate the table before submission
  function validateSpInfo() {
    const rows = document.querySelectorAll('#sp_info_table tbody tr'); // Get all rows in the table body
    let isProprietorSelected = false; // Flag to check if Proprietor is selected

    // Loop through each row and check the selected employee type, sp_name, and sp_mobile
    for (let row of rows) {
      const employeeTypeSelect = row.querySelector('select[name="sp_type[]"]');
      const spName = row.querySelector('input[name="sp_name[]"]');
      const spMobile = row.querySelector('input[name="sp_mobile[]"]');

      // Check if the "Proprietor" is selected and if sp_name and sp_mobile are filled
      if (employeeTypeSelect && employeeTypeSelect.value === 'Proprietor') {
        if (spName.value.trim() !== '' && spMobile.value.trim() !== '') {
          isProprietorSelected = true; // Found a valid Proprietor with name and mobile
          break; // Exit loop once a valid "Proprietor" is found
        }
      }
    }

    // If no row has "Proprietor" with valid name and mobile, alert the user
    if (!isProprietorSelected) {
      alert('At least one row should be of type "Proprietor" with a name and mobile number.');
      return false; // Prevent form submission
    }

    return true; // Allow form submission if validation passes
  }

  // Event listener for form submission
  document.getElementById('btnSubmit').addEventListener('click', function (event) {
    if (!validateSpInfo()) {
      event.preventDefault(); // Prevent form submission if validation fails
    }
  });
</script>
