<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 border p-4"> {{!-- border-secondary --}}
            <h4 class="mb-3">Update Dealer for SAP Code {{data.ext_code}}</h4>

            <form action="/customer/update-info/{{data.customer_id}}" method="post">
                <div class="row mb-3">
                    <label for="customer_name" class="col-sm-2 col-form-label">Dealer Name<span
                            style="color: red;">*</span>
                    </label>
                    <div class="col-sm-10">
                        <input hidden type="text" class="form-control" id="customer_id" name="customer_id"
                            value="{{data.customer_id}}">
                        <input disabled type="text" class="form-control" id="customer_name" name="customer_name"
                            value="{{data.customer_name}}" placeholder="Enter dealer name" minlength="1" maxlength="50"
                            aria-describedby="customer_nameHelp">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="nick_name" class="col-sm-2 col-form-label">Nick Name<span style="color: red;">*</span>
                    </label>
                    <div class="col-sm-10">
                        <input disabled type="text" class="form-control" id="nick_name" name="nick_name"
                            value="{{data.nick_name}}" required placeholder="Enter Nickname">
                    </div>
                </div>


                <div class="row mb-3">
                    <label for="godown_area" class="col-sm-2 col-form-label">Godown Area<span
                            style="color: red;">*</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="number" max="9999" step="1.00" class="form-control" id="godown_area"
                            name="godown_area" value="{{data.godown_area}}" required placeholder="Godown Area in Sq Ft">
                        <div id="godown_Help" class="form-text">Enter Godown Area in Square Feet</div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="total_counters" class="col-sm-2 col-form-label">No of Counter</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="godown_area" name="total_counters"
                            value="{{data.total_counters}}" required placeholder="Total Number of Counters">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="gst_no" class="col-sm-2 col-form-label">GST Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="gst_no" name="gst_no" maxlength="15"
                            value="{{data.gst_no}}" required placeholder="GST NUMBER">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="cust_care_no" class="col-sm-2 col-form-label">Customer Care No</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cust_care_no" name="cust_care_no" maxlength="20"
                            value="{{data.cust_care_no}}" required placeholder="Customer Care No">
                    </div>
                </div>

                {{!-- Vehicle details --}}
                <div class="mb-3 border p-4">
                    <label for="Vehicle Information" class="form-label"><strong>Vehicle Information</strong></label>
                    <table class="table" id="veh_info_table">
                        <thead>
                            <tr>
                                <th style="width:8%;">Sr</th>
                                <th style="width:25%;">Reg No</th>
                                <th style="width:25%;">Vehicle Type</th>
                                <th style="width:25%;">Insurance No</th>
                                <th style="width:12%;">Expiry Date</th>
                                <th style="width:5%;">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tableBodyVehInfo">

                            {{#each [vehData]}}
                            <tr>
                                <td><input readonly type="text" class="form-control text-end" id="sr_no" name="sr_no[]"
                                        required value={{this.sr_no}}></td>
                                <td><input type="text" class="form-control text-start text-uppercase" id="reg_no"
                                        name="reg_no[]" maxlength="10" value={{this.reg_no}}> </td>
                                <td><input type="text" class="form-control text-start text-uppercase" id="Veh_Type"
                                        name="veh_type[]" maxlength="10" value={{this.veh_type}}> </td>
                                <td><input type="text" class="form-control text-start" id="ins_no" name="ins_no[]"
                                        maxlength="20" value={{this.ins_no}}> </td>
                                <td><input type="date" class="form-control text-start" id="ins_date" name="ins_date[]"
                                        value={{momentYMD this.ins_date}}> </td>
                                <td>
                                    <button type="button" id="removeItemBtn" onclick="removeSelectedItem(this)"
                                        class="btn btn-danger">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <button type="button" id="btnAddVeh" class="btn btn-success">Add Vehicle</button>
                        </div>

                    </div>
                </div>

                {{!-- Saleman Details --}}
                <div class="mb-3 border p-4">
                    <label for="sp_info_table" class="form-label"><strong>Saleman Information</strong></label>
                    <table class="table" id="sp_info_table">
                        <thead>
                            <tr>
                                <th style="width:7%;">Sr</th>
                                <th style="width:28%;">SP Type</th>
                                <th style="width:40%;">SP Name</th>
                                <th style="width:20%;">Mobile No</th>
                                <th style="width:5%;">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tableBodySpInfo">

                            {{#each [spData]}}
                            <tr>
                                <td><input readonly type="text" class="form-control text-end" id="sr_no_sp"
                                        name="sr_no_sp[]" required value={{this.sr_no}}></td>
                                <td>
                                    <select class="form-select" id="sp_type" name="sp_type[]"
                                        aria-label=".form-select-sm example">
                                        <option value="Accountant" {{#isEqual this.sp_type "Accountant"
                                            }}selected{{/isEqual}}>Accountant</option>
                                        <option value="Salesman" {{#isEqual this.sp_type "Salesman"
                                            }}selected{{/isEqual}}>Salesman</option>
                                        <option value="Driver" {{#isEqual this.sp_type "Driver" }}selected{{/isEqual}}>
                                            Driver</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control text-start" id="sp_name" name="sp_name[]"
                                        maxlength="20" value={{this.sp_name}}> </td>
                                <td><input type="text" class="form-control text-start" id="sp_mobile" name="sp_mobile[]"
                                        maxlength="10" value={{this.sp_mobile}}> </td>
                                <td>
                                    <button type="button" id="removeSpBtn" onclick="removeSelectedSp(this)"
                                        class="btn btn-danger">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <button type="button" id="btnAddSp" class="btn btn-success">Add Salesman</button>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 d-flex justify-content-between">
                    <button {{#isEqual user.user_role "Read" }} disabled {{/isEqual}} type="submit" class="btn btn-primary mx-1">Submit</button>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-secondary mx-1"
                            onclick="window.location.href='/customer/view-info'">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#veh_info_table').dataTable({
            pageLength: 10,
            responsive: true,
        });
    });

    $(document).ready(function () {
        $('#sp_info_table').dataTable({
            pageLength: 10,
            responsive: true,
        });
    });
</script>

<script>
    const tBodyVehInfo = document.getElementById("tableBodyVehInfo");
    const btnAddVeh = document.getElementById("btnAddVeh");

    btnAddVeh.addEventListener("click", function () {
        // Get the last row in the table body
        const lastRow = tBodyVehInfo.lastElementChild;
        // Clone the last row
        const newRow = lastRow.cloneNode(true);
        // Clear the input fields in the new row
        const inputs = newRow.querySelectorAll("input");

        inputs.forEach(input => { input.value = ""; });
        // Increment the serial number in the new row
        const srNoValue = parseInt(lastRow.querySelector("#sr_no").value);
        const srNoInput = newRow.querySelector("#sr_no");
        //const srNoValue = parseInt(srNoInput.value);
        srNoInput.value = srNoValue + 1;

        // Get the newly added rate field
        // Append the new row to the table body
        tBodyVehInfo.appendChild(newRow);
    });

    function removeSelectedItem(element) {
        const row = element.closest("tr");
        if (row.rowIndex === 1) {
            alert("First row can't be delete!");
            return;
        }

        // Prompt user for confirmation
        const confirmed = confirm("Are you sure you want to delete this row?");
        if (!confirmed) {
            return;
        }
        // Remove the row from the table
        row.remove();

        // Recalculate the total Amount
        /*const amountInputs = orderItemsBody.querySelectorAll("#amount");
        let totalAmount = 0;
        amountInputs.forEach((input) => {
            totalAmount += parseFloat(input.value);
        });
        document.getElementById("totalAmount").value = totalAmount.toFixed(2);
        */
    }

</script>

<script>
    const tBodySpInfo = document.getElementById("tableBodySpInfo");
    const btnAddSp = document.getElementById("btnAddSp");

    btnAddSp.addEventListener("click", function () {
        // Get the last row in the table body
        const lastRow = tBodySpInfo.lastElementChild;
        // Clone the last row
        const newRow = lastRow.cloneNode(true);
        // Clear the input fields in the new row
        const inputs = newRow.querySelectorAll("input");

        inputs.forEach(input => { input.value = ""; });
        // Increment the serial number in the new row
        const srNoValueSp = parseInt(lastRow.querySelector("#sr_no_sp").value);
        const srNoInputSp = newRow.querySelector("#sr_no_sp");
        //const srNoValueSp = parseInt(srNoInputSp.value);
        srNoInputSp.value = srNoValueSp + 1;

        // Get the newly added rate field
        // Append the new row to the table body
        tBodySpInfo.appendChild(newRow);
    });

    function removeSelectedSp(element) {
        const row = element.closest("tr");
        if (row.rowIndex === 1) {
            alert("First row can't be delete!");
            return;
        }

        // Prompt user for confirmation
        const confirmed = confirm("Are you sure you want to delete this row?");
        if (!confirmed) {
            return;
        }
        // Remove the row from the table
        row.remove();
    }

</script>